.signup {
	background-image: linear-gradient(var(--color-primary), var(--color-second));
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 0px 30px;
	min-height: 100vh;
}

.signup-container {
	background-color: rgba(255, 255, 255, 0.1);
	border: 2px solid white;
	border-radius: 40px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 60px 68px 40px;
	width: 440px;
	min-height: 500px;
}

.signup-container-form {
	display: flex;
	flex-direction: column;
}

.signup-container a {
	color: white;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
}

.signup-container a:hover {
	text-decoration: underline;
}

// .input {
// 	background-color: transparent;
// 	border-bottom: 2px solid white;
// 	border-left: 0px;
// 	border-right: 0px;
// 	border-top: 0px;
// 	color: white;
// 	font-family: "Nunito", sans-serif;
// 	font-size: 16px;
// 	height: 50px;
// 	margin-bottom: 20px;
// 	outline: none;
// 	padding: 0px 20px;
// }

::placeholder {
	color: white;
}

.button {
	background-color: rgba(255, 255, 255, 0.3);
	border: none;
	border-radius: 25px;
	color: white;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	font-family: "Nunito", sans-serif;
	height: 50px;
	letter-spacing: 1px;
	margin: 10px 0px;
}

@media only screen and (max-width: 600px) {
	.signup-container {
		background-color: transparent;
		border: none;
		box-shadow: none;
		padding: 0px;
		width: 100%;
	}
}
