{
	"presets": [
		[
			"@babel/preset-env",
			{
				"corejs": 3.15,
				"useBuiltIns": "usage"
			}
		],
		[
			"@babel/preset-react",
			{
				"runtime": "automatic"
			}
		]
	],
	"plugins": ["@babel/plugin-transform-runtime"]
}
