.page1 .page1-content {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.page1 .page1-content h1 {
	font-size: 100px;
}

.btn-blue {
	box-shadow: inset 0px 1px 0px 0px #54a3f7;
	background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color: #007dc1;
	border-radius: 3px;
	border: 1px solid #124d77;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 13px;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #154682;
}
.btn-blue:hover {
	background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color: #0061a7;
}
.btn-blue:active {
	position: relative;
	top: 1px;
}

.btn-red {
	box-shadow: inset 0px 1px 0px 0px #f75454;
	background: linear-gradient(to bottom, #c10000 5%, #a70000 100%);
	background-color: #c10000;
	border-radius: 3px;
	border: 1px solid #771212;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 13px;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #821515;
}
.btn-red:hover {
	background: linear-gradient(to bottom, #a70000 5%, #c10000 100%);
	background-color: #a70000;
}
.btn-red:active {
	position: relative;
	top: 1px;
}
